	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#/accueil">Accueil</a>
	  <a href="#/veilleur">Office divin</a>
	  <a href="#/devotions">Dévotions</a>
	  <a href="#/entrainement">Mémorisations</a>
	  <a href="#/bible">Bible</a>
	</div>
	<div id="main">
		<div class="bar bar-header " style="height: 50px; position: fixed;">
		   <button onclick="openNav()" class="button" style="background-color: transparent;">
		   	<img src="img/menu.gif">
		   </button>
		    <h1 class="title" style="letter-spacing: 2px; font-family:'Calligraphic', 'Roboto'; font-weight: 600; font-size: 44px; color: #e73931;"><a style="text-decoration: none;" href="accueil.php" >HicVox</a></h1>
		   <button  ng-click="gotoCarte()" class="button" style="background-color: transparent; outline:none;">
		   		<img src="img/logo.gif" style="height: 40px; width: auto; background-color: transparent;">
		   </button>
		</div>	
		<script type="text/javascript">
			$('#croix').click(function(){	
				window.location = 'consecration.html';
			});
		</script>
		<div class="bar bar-subheader " style="height: 50px; position: fixed; top: 50px; border: none;">
		   <button class="button" onclick="window.history.back();" style="background-color: transparent;">
		   	<i class="fa fa-chevron-left"></i>
		   </button>
		    <h1 class="title" style="letter-spacing: 2px; font-family: Arial; font-weight: 600; font-size: 25px; color: blue;"><b>Géolocalisation</b></h1>
		   <button class="button" style="background-color: transparent;">		   	
		   </button>		   
		</div>				
		<div>		
			<div class="content" style="position: relative; top: 100px;">				
				<p style="text-align: center; font-size: 12px; margin-top: 0px; line-height: 1; margin-bottom: 8px;"><b>Des membres de l'HicVox</b></p>
				<center><a href="#/carte"><img src="img/globe.gif"></a></center>				
				<div class="list">
					<div class="item" ng-repeat="user in users" style="margin: 5px; padding: 15px; font-size: 10px;">
			            <span style="color: blue;"><b>{{user.userName}} {{user.userMystere}}</b></span><br>
						<span style="color: blue;"><b>{{user.userVille}} - </b></span>
						<b>{{user.distance}} km</b>						
						<hr style="margin-top: 5px; margin-bottom: 5px;">
					</div>
				</div>
			</div>			
		</div>
	</div>			