	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#/accueil">Accueil</a>
	  <a href="#/veilleur">Office divin</a>
	  <a href="#/devotions">Dévotions</a>
	  <a href="#/entrainement">Mémorisations</a>
	  <a href="#/bible">Bible</a>
	</div>
	<div id="main">
		<div class="bar bar-header " style="height: 50px; position: fixed;">
		   <button onclick="openNav()" class="button" style="background-color: transparent;">
		   	<img src="img/menu.gif">
		   </button>
		    <h1 class="title" style="letter-spacing: 2px; font-family:'Calligraphic', 'Roboto'; font-weight: 600; font-size: 44px; color: #e73931;"><a style="text-decoration: none;" href="#/accueil" >HicVox</a></h1>
		   <button  ng-click="gotoCarte()" class="button" style="background-color: transparent; outline:none;">
		   		<img src="img/logo.gif" style="height: 40px; width: auto; background-color: transparent;">
		   </button>
		</div>		
		<script type="text/javascript">
			$('#croix').click(function(){	
				window.location = 'consecration.html';
			});
		</script>
		
		<div class="bar bar-subheader " style="height: 50px; position: fixed; top: 50px; border: none;">
		   <button class="button" onclick="window.history.back();" style="background-color: transparent;">
		   	<i class="fa fa-chevron-left"></i>
		   </button>
		    
		   <button class="button" style="background-color: transparent;">		   	
		   </button>		   
		</div>		

		<div>		
			<div class="content" style="position: relative; top: 100px; margin: 10px;">												
				<p>
					Vous connaissiez le mot téléphone, venant de deux mots
					grecs : τη̃λε, télé (loin) et φωνή, phone, (voix). Vous allez découvrir
					le mot HicVox, venant de deux mots latin, hic (ici) et
					du vox (voix). L’HicVox permet d’entendre la voix, ou de voir
					l’image d’ici, quand je le veux, et comme je le veux.
					Pour certains de nos contemporains, le téléphone est devenu
					un objet de dépendance. Ils le portent en permanence sur
					eux, lorsqu’ils l’ont oublié chez eux ou au travail, ils retournent
					le chercher. Pour dormir ou partir en vacances ils l’ont à leur
					coté. Plusieurs fois par jour, et même par heure ils y jettent
					un coup d’oeil. La recherche continue de la nouveauté inconnue
					peut mettre l’individu dans une tension accrue, une perte
					de la notion du temps et des règles, une exigence de biens
					non dus.
				</p>				
				<p>
					A l’homme qui est devenu trop dépendant de son téléphone,
					laissons-le lui, puisqu’il ne peut pas s’en passer. Mettons
					dans son appareil un HicVox, ce logiciel commencera par lui
					donner une règle de vie, des rendez-vous qu’il devra respecter.
					En écoutant et visionnant des contenus qu’il connaît déjà
					et à des moments qu’il sait d’avance, il retrouvera le même
					et doux plaisir de retrouver un bon ami dont on connait
					d’avance les gestes, les paroles et les pensées.
				</p>
			</div>
			
		</div>
	</div>	