<div class="container" style="position: relative; top: 30px;">
	<a href="#/accueil">
		<center>
			<img src="img/logo.gif" style="height: 50px; width: auto; background-color: transparent;">
		</center>
	</a>	
	<p style="margin-top: 30px; margin-left: 15px; margin-right: 15px; font-family: 'Poppins';">
		<span style="color: #111; font-weight: 600; font-size: 10px; line-height: 1.5;">Salut, {{userName}} voici pour toi</span>
		<span style="color: #111; font-weight: 600; font-size: 10px; line-height: 1.5;">une parole de vie pour aujourd'hui : </span><br>
		<span style="color: #111; font-weight: 300; font-size: 9px;">
			{{parole}}
		</span>
	</p>
	<div style="background: #0070c9; padding: 5px; border-radius: 5px; -webkit-box-shadow: inset 0 0 8px #0070c9; position: relative; top: 50px; margin: 15px;">
		<table style="width: 100%;">
			<tr>
				<td style="vertical-align: bottom;">
					<center style="margin-top: 5px;" >
						<i class="fa fa-newspaper-o" style="font-size: 35px; color: #fff;"></i>
						<p style="font-size: 9px;font-family: 'Poppins'; color: #fff;">Nouvelles</p>
					</center>
				</td>
				<td>
					<center style="margin-top: 5px;" >
						<i class="fa fa-home" style="font-size: 35px; color: #fff;"></i>
						<p style="font-size: 9px;font-family: 'Poppins'; color: #fff;">Dévotions</p>
					</center>
				</td>
				<td>
					<center style="margin-top: 5px;" >
						<i class="fa fa-music" style="font-size: 35px; color: #fff;"></i>
						<p style="font-size: 9px;font-family: 'Poppins'; color: #fff;">Office divin</p>
					</center>
				</td>
			</tr>
			<tr>
				<td>
					<center style="margin-top: 5px;" >
						<i class="fa fa-map" style="font-size: 35px; color: #fff;"></i>
						<p style="font-size: 9px;font-family: 'Poppins'; color: #fff;">Mémorisations</p>
					</center>
				</td>
				<td>
					<center style="margin-top: 5px;" >
						<i class="fa fa-book" style="font-size: 35px; color: #fff;"></i>
						<p style="font-size: 9px;font-family: 'Poppins'; color: #fff;">Sainte bible</p>
					</center>
				</td>
				<td>
					<center style="margin-top: 5px;" >
						<i class="fa fa-user" style="font-size: 35px; color: #fff;"></i>
						<p style="font-size: 9px;font-family: 'Poppins'; color: #fff;">Lectures</p>
					</center>
				</td>
			</tr>
			<tr>
				<td>
					<center style="margin-top: 5px;" >
						<i class="fa fa-share-alt" style="font-size: 35px; color: #fff;"></i>
						<p style="font-size: 9px;font-family: 'Poppins'; color: #fff;">Ecclesia canes</p>
					</center>
				</td>
				<td>
					<center style="margin-top: 5px;" >
						<i class="fa fa-eur" style="font-size: 35px; color: #fff;"></i>
						<p style="font-size: 9px;font-family: 'Poppins'; color: #fff;">Faire un don</p>
					</center>
				</td>
				<td>
					<center style="margin-top: 5px;" >
						<i class="fa fa-gears" style="font-size: 35px; color: #fff;"></i>
						<p style="font-size: 9px;font-family: 'Poppins'; color: #fff;">Preferences</p>
					</center>
				</td>
			</tr>			
		</table>
	</div>
</div>