  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#/accueil">Accueil</a>
    <a href="#/veilleur">Office divin</a>
    <a href="#/devotions">Dévotions</a>
    <a href="#/entrainement">Mémorisations</a>
    <a href="#/bible">Bible</a>
  </div>
  <div id="main">
    <div class="bar bar-header " style="height: 50px; position: fixed;">
      <button onclick="openNav()" class="button" style="background-color: transparent;">
        <img src="img/menu.gif">
      </button>
      <h1 class="title" style="letter-spacing: 2px; font-family:'Calligraphic', 'Arial'; font-weight: 600; font-size: 44px; color: #e73931;"><a style="text-decoration: none;" href="#/accueil">HicVox</a></h1>
      <button  ng-click="gotoCarte()" class="button" style="background-color: transparent; outline:none;">
          <img src="img/logo.gif" style="height: 40px; width: auto; background-color: transparent;">
      </button>
    </div>
    <div class="bar bar-subheader " style="height: 50px; position: fixed; top: 50px; border: none;">
      <button class="button" ng-click="showMoteurRecherche();" style="background-color: transparent;">
        <i class="fa fa-chevron-left"></i>
      </button>
      <h1 class="title"><b style="color: blue; font-size: 22px;">ROSAIRE</b></h1>
      <!-- <button class="button" style="background-color: transparent;">
        <i class="fa fa-volume-up"></i>
      </button>   -->     
    </div>
    <div class="content" style="position: relative; top: 100px;">      
      <div style="text-align: center;">                
        <div id="moteurRecherche" class="row" style="background: #0000FF; padding: 10px; padding-top: 15px; margin-bottom: 10px; margin-left: 0px; margin-right: 0px;">        
          <form style="width: 100%;">              
              <div class="col-md-8">
                <select id="mystere" class="form-control" name="mystere" style=" border-radius: 0px; margin-bottom: 5px;color: #8c8c8c; font-size: 16px; font-weight: 300;">
                  <option value="joyeux">Mystères Joyeux</option>
                  <option value="douloureux">Mystères Douloureux</option>
                  <option value="lumineux">Mystères Lumineux</option>
                  <option value="glorieux">Mystères Glorieux</option>
                  <option value="rose">Trois : Je vous salue Marie</option>
                  <option value="dizaine">Dix : Je vous salue Marie</option>                  
                </select>
              </div>
              <div class="col-md-4">
                <button ng-click="lireRosaire()" class="btn btn-danger" style="width: 100%; border-radius: 0px; font-size: 16px;"> Réciter l'office 
              </div>
          </form>
        </div>
         
          <!-- PLaylits -->
        <span style="display: none;">
          <span style="font-family: 'Arial', sans-serif; font-size: 13px; font-weight: 100; color: #0000FF;">Les Playlists</span> <br>
          <span id="fichiernom" style="font-family: 'Arial', sans-serif; font-size: 13px; font-weight: 100; color: #0000FF;"></span>
        </span>        

        <div id="content-ecran" style="background: #333; margin-top: 15px; z-index: 2">
          <div id="ecran" class="ecran">
            <p id="marqueur" style="display: none; width: 100%; text-align: left; padding-left: 15px; padding-right: 15px;"></p>
            <p id="diapo_fr" style=" display: none;width: 100%; text-align: left; padding-left: 15px; padding-right: 15px;"></p>
            <img id="rosaire-img" src="" style="width: 100%; height: auto;">
            <audio autoplay controls style="display: none;" id="officePlayer" src="">
              <source  type="audio/mpeg">
            </audio>            
            <div id="controls" class="wrap" style="width: 100%; padding-top: 20px; padding-left: 10px; padding-right: 10px; position: absolute; bottom: 0px;">
              <input id="range" type="range" min="0" max="37.198367" step="0.000001" value="0" onchange="progressBar(this.value)" class="range" />
              <div style="text-align: center; padding-bottom: 15px; padding-top: 15px;">        
                <button id="prev" ng-click="prev()" class="btn btn-secondary" style="display: inline-block; border-radius: 100% 100%; width: 30px; height: 30px; padding: 0.1rem 0.2rem; font-size: 0; outline:none;">
                  <i class="fa fa-backward" style="font-size: 10px;"></i>
                </button>
                <button id="play" ng-click="play()" class="btn btn-primary" style="display: inline-block; border-radius: 100% 100%; width: 40px; height: 40px; padding: 0.5rem 0.9rem; font-size: 0; margin-right: 20px; margin-left: 20px; outline:none;">
                  <i class="fa fa-play" style="font-size: 18px;"></i>
                </button>
                <button id="pause" ng-click="pause()" class="btn btn-primary" style="display: none; border-radius: 100% 100%; width: 40px; height: 40px; padding: 0.5rem 0.74rem; font-size: 0; margin-right: 20px; margin-left: 20px; outline:none;">
                  <i class="fa fa-pause" style="font-size: 18px;"></i>
                </button>
                <button id="next" ng-click="next()" class="btn btn-secondary" style="display: inline-block; border-radius: 100% 100%; width: 30px; height: 30px; padding: 0.1rem 0.2rem; font-size: 0; outline:none;">
                  <i class="fa fa-forward" style="font-size: 10px;"></i>
                </button>
                <button ng-click="fullScreen()" class="btn btn-secondary" style="display: inline-block; border-radius: 100% 100%; width: 30px; height: 30px; padding: 0.1rem 0.2rem; font-size: 0; float: right; margin-top: 3px; outline:none;">
                  <i class="fa fa-crop" style="font-size: 10px;"></i>
                </button>
                <button id="downloadBtn" data-toggle="modal" data-target="#downloadModal" class="btn btn-secondary" style="display: inline-block; border-radius: 100% 100%; width: 30px; height: 30px; padding: 0.1rem 0.2rem; font-size: 0; float: right; margin-top: 3px; margin-right: 20px; outline:none;">
                  <i class="fa fa-download" style="font-size: 10px;"></i>
                </button> 
              </div>
            </div>            
          </div>                                     
        </div>
      </div>      
    </div>
  </div>
  <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header" style="padding: 5px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <center>
              <h4 class="modal-title" id="myModalLabel" style="color: rgb(0, 153, 255); font-size: 18px; font-weight: bold;">Téléchargement des fichiers</h4>
            </center>
          </div>
          <div class="modal-body">                        
            <div class="row" style="padding: 10px; padding-top: 15px; margin-bottom: 20px; margin-left: 0px; margin-right: 0px; margin-top: 10px;">
              <form class="form-group" method="post" style="width: 100%;">                  
                <div id="div-audio">                  
                  <label>Désirez vous télécharger les fichiers audios rosaires de votre HicVox, il fait 5Mo il vous reste {{freeSpace}}Go sur votre smartphone</label>
                  <br><label>Il reste {{restantAudio}}/{{tousAudio}} fichier(s) à télécharger</label>
                  <br><label>Progression du téléchargement: {{downloadProgressAudio}} %</label>
                  <div class="modal-footer" style="padding: 5px; border: 0;">
                    <button type="submit" ng-click="downloadAudio()" class="btn btn-default" style="background: rgb(0, 153, 255); color: #fff; font-size: 12px;">Télécharger</button>
                    <!-- <button type="button" ng-click="stopDownloadAudio()" class="btn btn-default" style="border: 1px solid #888; color: #373a3c; font-size: 12px;">Annuler</button> -->
                  </div>
                </div>
                <hr>
                <div id="div-image">
                  <label>Désirez vous télécharger les fichiers images rosaires de votre HicVox, il fait 40Mo il vous reste {{freeSpace}}Go sur votre smartphone</label>
                  <br><label>Il reste {{restantImage}}/{{tousImage}} fichier(s) à télécharger</label>
                  <br><label>Progression du téléchargement: {{downloadProgressImage}} %</label>
                  <div class="modal-footer" style="padding: 5px; border: 0;">
                    <button type="submit" ng-click="downloadImage()" class="btn btn-default" style="background: rgb(0, 153, 255); color: #fff; font-size: 12px;">Télécharger</button>
                    <!-- <button type="button" ng-click="stopDownloadImage()" class="btn btn-default" style="border: 1px solid #888; color: #373a3c; font-size: 12px;">Annuler</button>                 -->
                  </div>           
                </div>
              </form> 
            </div>
          </div>
      </div>
    </div> 
  </div>