
	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#/accueil">Accueil</a>
	  <a href="#/veilleur">Office divin</a>
	  <a href="#/devotions">Dévotions</a>
	  <a href="#/entrainement">Mémorisations</a>
	  <a href="#/bible">Bible</a>
	</div>
	<div id="main">
		<div class="bar bar-header " style="height: 50px; position: fixed;">
		   <button onclick="openNav()" class="button" style="background-color: transparent;">
		   	<img src="img/menu.gif">
		   </button>
		    <h1 class="title" style="letter-spacing: 2px; font-family:'Calligraphic', 'Roboto'; font-weight: 600; font-size: 44px; color: #e73931;"><a style="text-decoration: none;" href="accueil.php" >HicVox</a></h1>
		   <button  ng-click="gotoCarte()" class="button" style="background-color: transparent; outline:none;">
		   		<img src="img/logo.gif" style="height: 40px; width: auto; background-color: transparent;">
		   </button>
		</div>

		<div class="bar bar-subheader " style="height: 50px; position: fixed; top: 50px; border: none;">
		   <button class="button" onclick="window.history.back();" style="background-color: transparent;">
		   	<i class="fa fa-chevron-left"></i>
		   </button>
		    
		   <button class="button" style="background-color: transparent;">		   	
		   </button>		   
		</div>	
		
		<div>		
			<div class="content" style="position: relative; top: 100px; margin: 10px;">				
				<h3><center>Consécration au Cœur immaculé de Marie</center></h3>
				<div style="margin-top: 20px;">
				<center><img src="img/ND-Fatima.jpg" style="width: 200px;"></center>
				</div>
				<p>
					Ô Vierge Marie, Mère de Dieu et notre Mère, je me consacre à votre Coeur Immaculé pour être pleinement offerts et consacrés au Seigneur.
				</p>
				<p>
					Veuillez s'il vous plaît me prendre sous votre protection maternelle; défendez-moi contre les dangers, aidez-moi à vaincre les tentations, à fuir les péchés, et veillez je vous en conjure sur la pureté de mon corps et de mon âme. Que votre Coeur Immaculé soit mon refuge et le chemin qui conduit jusqu'à Dieu.
				</p>
				<p>
					Donnez-moi la grâce de prier et de me sacrifier par amour pour Jésus, pour la conversion des pécheurs et en réparation des péchés commis contre votre Coeur Immaculé.
				</p>
				<p>
					En me confiant à Vous et en union avec le Coeur de votre divin Fils, je veux vivre pour la Très Sainte Trinité en qui je crois, que j'adore, que j'espère et que j'aime.
				</p>
				<p>
					Amen !
				</p>
			</div>
			
		</div>
	</div>	