<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#/accueil">Accueil</a>
    <a href="#/veilleur">Office divin</a>
    <a href="#/devotions">Dévotions</a>
    <a href="#/entrainement">Mémorisations</a>
    <a href="#/bible">Bible</a>
</div>
<div class="bar bar-subheader " style="height: 50px; position: fixed; top: 0px;">
   <button onclick="openNav()" class="button" style="background-color: transparent; outline:none;">
    <img src="img/menu.gif">
   </button>
    <h1 class="title" style="letter-spacing: 2px; font-family:'Calligraphic', 'Roboto'; font-weight: 600; font-size: 44px; color: #e73931;"><a style="text-decoration: none;" href="#/info" >HicVox</a></h1>
   <button  ng-click="gotoCarte()" class="button" style="background-color: transparent; outline:none;">
          <img src="img/logo.gif" style="height: 40px; width: auto; background-color: transparent;">
    </button> 
</div>
<div class="bar bar-subheader " style="height: 50px; position: fixed; top: 50px; border: none;">
   <button class="button" onclick="window.history.back();" style="background-color: transparent;">
    <i class="fa fa-chevron-left"></i>
   </button>
    <h1 class="title"><b style="color: blue; font-size: 25px;">DEVOTIONS</b></h1>
   <button class="button" id="downloadBtn" data-toggle="modal" data-target="#downloadModal" style="background-color: transparent;">
      <i class="fa fa-download"></i>
   </button>
</div>
<div class="container" style="position: relative; top: 100px;">     
      <div style="text-align: center;">             
        <div class="row" style="padding: 10px; padding-top: 15px; margin-bottom: 10px; margin-left: 0px; margin-right: 0px;">  
          <div style="width: 100%;">
              <div class="col-md-3">
                <p style=" font-size: 13px; font-weight: 100; color: #0000FF; ">Dimanche : Le Mystère de l'Eglise  ( Litanie des saints )</p> 
                <audio controls id="litanies_des_saints" style="width: 100%;">
                  <source  type="audio/mpeg">
                </audio>  
              </div> 
              <div class="col-md-3">
                <p style=" font-size: 13px; font-weight: 100; color: #0000FF; ">Lundi :Dévotion pour les âmes du purgatoire (Requiem)</p> 
                <audio controls id="Requiem" style="width: 100%;">
                  <source  type="audio/mpeg">
                </audio>
              </div> 
              <div class="col-md-3">
                <p style=" font-size: 13px; font-weight: 100; color: #0000FF; ">Mardi : Dévotion aux saints anges</p> 
                <audio controls id="Litanie-de-la-Sainte-Vierge-Pt" style="width: 100%;">
                  <source type="audio/mpeg">
                </audio>
              </div> 
              <div class="col-md-3">
                <p style=" font-size: 13px; font-weight: 100; color: #0000FF; ">Mercredi: Dévotion à saint Joseph (Litanie à saint Joseph)</p> 
                <audio controls id="litanies_saint_Joseph" style="width: 100%;">
                  <source  type="audio/mpeg">
                </audio>
              </div> 
              <div class="col-md-3">
                <p style=" font-size: 13px; font-weight: 100; color: #0000FF; ">Jeudi : Dévotion au Sacré-Coeur (Litanie au Sacré-Cœur)</p> 
                <audio controls id="litanies_du_Sacre-Coeur" style="width: 100%;">
                  <source  type="audio/mpeg">
                </audio>
              </div>    
              <div class="col-md-3">
                <p style=" font-size: 13px; font-weight: 100; color: #0000FF; ">Vendredi: Méditation de la Passion de Notre Seigneur (Chemin de Croix)</p> 
                <audio controls id="chemin_de_Croix" style="width: 100%;">
                  <source  type="audio/mpeg">
                </audio>
              </div> 
              <div class="col-md-3">
                <p style=" font-size: 13px; font-weight: 100; color: #0000FF; ">Samedi : Dévotion à Notre Dame (Litanie à la Sainte Vierge)</p> 
                <audio controls id="Litanies_de_la_Sainte_Vierge" style="width: 100%;">
                  <source  type="audio/mpeg">
                </audio>
              </div>  
          </div>     
        </div>
      </div>      
    </div>
  </div>
  <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header" style="padding: 5px">
            <button id="closeLogModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <center>
              <h4 class="modal-title" id="myModalLabel" style="color: rgb(0, 153, 255); font-size: 18px; font-weight: bold;">Téléchargement des fichiers</h4>
            </center>
          </div>
          <div class="modal-body">                        
            <div class="row" style="padding: 10px; padding-top: 15px; margin-bottom: 20px; margin-left: 0px; margin-right: 0px; margin-top: 10px;">
              <form class="form-group" method="post" style="width: 100%;">                  
                <div>                  
                  <label>Désirez vous télécharger les fichiers dévotions de votre HicVox, il fait 22Mo il vous reste {{freeSpace}}Go sur votre smartphone</label>
                  <br><label>Il reste {{restantAudio}}/{{tousAudio}} fichier(s) à télécharger</label>
                  <br><label>Progression du téléchargement: {{downloadProgressAudio}} %</label>
                  <div class="modal-footer" style="padding: 5px; border: 0;">
                    <button type="submit" ng-click="downloadAudio()" class="btn btn-default" style="background: rgb(0, 153, 255); color: #fff; font-size: 12px;">Télécharger</button>
                    <!-- <button type="button" ng-click="stopDownloadAudio()" class="btn btn-default" style="border: 1px solid #888; color: #373a3c; font-size: 12px;">Annuler</button>                 -->
                  </div>
                </div>                
              </form> 
            </div>
          </div>
      </div>
    </div> 
  </div>
