<style type="text/css">
	body {	 
	    background: url(img/Fond-ecran.gif) center;	    
	    background-size: cover;
	    background-repeat: no-repeat;    
	}
</style>
<div class="container" style="position: relative; top: 30px;">
	<a href="#/accueil">
		<center>
			<img src="img/logo.gif" style="height: 50px; width: auto; background-color: transparent;">
		</center>
	</a>	
	<p style="margin-top: 30px; margin-left: 15px; margin-right: 15px; font-family: 'Poppins';">
		<span style="color: #111; font-weight: 600; font-size: 10px; line-height: 1.5;">Salut, {{userName}} voici pour toi</span>
		<span style="color: #111; font-weight: 600; font-size: 10px; line-height: 1.5;">une parole de vie pour aujourd'hui : </span><br>
		<span style="color: #111; font-weight: 300; font-size: 9px;">
			{{parole}}
		</span>
	</p>
	<!-- <div style="background: #0070c9; padding: 5px; border-radius: 5px; -webkit-box-shadow: inset 0 0 8px #0070c9; position: relative; top: 50px; margin: 15px; padding-top: 13px;"> -->
	<div style="background: transparent; padding: 5px; position: relative; top: 30px; margin: 15px; padding-top: 13px;">
		<table style="width: 100%;">
			<tr>
				<td style="width: 33.3%;">
					<a href="#/accueil" class="cadre-icons">
						<center style="margin-top: 5px;">
							<img src="img/nouvelle.png" class="icons-img">
							<p style="margin-top: 5px; font-size: 9px;">Nouvelles</p>
						</center>
					</a>
				</td>
				<td style="width: 33.3%;">
					<a href="#/devotions" class="cadre-icons">
						<center style="margin-top: 5px;">
							<img src="img/devotions.png" class="icons-img">
							<p style="margin-top: 5px; font-size: 9px;">Dévotions</p>
						</center>
					</a>	
				</td>
				<td style="width: 33.3%;">
					<a href="#/veilleur" class="cadre-icons">
						<center style="margin-top: 5px;">						
							<img src="img/Office-divin.png" class="icons-img">
							<p style="margin-top: 5px; font-size: 9px;">Office divin</p>
						</center>
					</a>	
				</td>
			</tr>
			<tr>
				<td style="width: 33.3%;">
					<a href="#/entrainement" class="cadre-icons">
						<center style="margin-top: 5px;">						
							<img src="img/Memorisations.png" class="icons-img">
							<p style="margin-top: 5px; font-size: 9px;">Mémorisations</p>
						</center>
					</a>	
				</td>
				<td style="width: 33.3%;">
					<a href="#/bible" class="cadre-icons">
						<center style="margin-top: 5px;">						
							<img src="img/Sainte-Bible.png" class="icons-img">
							<p style="margin-top: 5px; font-size: 9px;">Sainte Bible</p>
						</center>
					</a>	
				</td>
				<td style="width: 33.3%;">
					<a href="" class="cadre-icons">
						<center style="margin-top: 5px;">						
							<img src="img/Lectures.png" class="icons-img">
							<p style="margin-top: 5px; font-size: 9px;">Lectures</p>
						</center>
					</a>	
				</td>
			</tr>
			<tr>
				<td style="width: 33.3%;">
					<a href="" class="cadre-icons">
						<center style="margin-top: 5px;">						
							<img src="img/Ecclesiae-canes.png" class="icons-img">
							<p style="margin-top: 5px; font-size: 9px;">Ecclesia canes</p>
						</center>
					</a>	
				</td>
				<td style="width: 33.3%;">
					<a href="#/dons" class="cadre-icons">
						<center style="margin-top: 5px;">						
							<img src="img/Don.png" class="icons-img">
							<p style="margin-top: 5px; font-size: 9px; color: #ff0000;">Faire un don</p>
						</center>
					</a>	
				</td>
				<td style="width: 33.3%;">
					<a href="" class="cadre-icons">
						<center style="margin-top: 5px;">						
							<img src="img/Preferences.png" class="icons-img">
							<p style="margin-top: 5px; font-size: 9px;">Preferences</p>
						</center>						
					</a>
				</td>
			</tr>			
		</table>
	</div>
</div>